<body id="about">
  
  <!-- header始まり -->
   <header>
    <div class="logo">
      <a href="/"><img src="/assets/logo5.png" alt="SNAPPERS"></a>
    </div>
    <nav>
      <ul class="global-nav">
        <li><a href="/tweets/portfolio">Portfolio</a></li>
        <li><a href="/tweets/about">About</a></li>
        <li><a href="/tweets/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- header終わり -->
  
  <!-- wrap始まり -->
  <div id="wrap">
    <div class="content">
      <div class="main-center">
        <h1>About</h1>
        <p>K STYLE LAB代表、栗原慎也のプロフィールや経歴の紹介ページです。</p>
        <section class="profile clearfix">
          <div class="profile-txt">
            <h2 class="icon">Profile</h2>
            <p><span>K STYLE LAB 代表：栗原　慎也</span><br>
            実家が酒屋であった為、家族の働き方やお店の中で夢中になって遊んでいるうちに自然と商売人としての道を志すようになる。<br>
            大学卒業後、地元佐世保での就職を目指しファッションビル運営のTWINKLEに入社。バイヤー・MDとして商品開発に長く携わる。<br>
            退職後、TECH::EXPERTで畑違いのプログラミングを学び、現在はITを融合させた店舗開発するなどで地元活性に日々精進している。</p>
          </div>
          <img src="/assets/about-profile.png" alt="山田太郎プロフィール画像" class="profile-image">
        </section>
        <section class="career">
          <h2 class="icon">Career and Job history</h2>
          <table>
            <tr>
              <th>2003年3月</th>
              <td>中京大学商学部商学科 卒業　西沢本店に入社</td>
            </tr>
            <tr>
              <th>2019年11月</th>
              <td>西沢本店を退社</td>
            </tr>
            <tr>
              <th>2020年1月</th>
              <td>TECH::EXPERTにてプログラミングを学ぶ</td>
            </tr>
            <tr>
              <th>2020年4月</th>
              <td>「K Style Lab」を設立</td>
            </tr>
            <tr>
              <th>2020年6月</th>
              <td>ポップアップストアとECを融合した新規事業を立上</td>
            </tr>
          </table>
        </section>
      </div>
    </div>
  </div>
  <!-- wrap終わり -->
  
  <!-- footer始まり -->
  <footer>
    <small>(C)2017 Hattori-studio.</small>
  </footer>
  <!-- footer終わり -->
  
</body>