<body id="portfolio">
  
  <!-- header始まり -->
  <header>
    <div class="logo">
      <a href="/"><img src="/assets/logo5.png" alt="SNAPPERS"></a>
    </div>
    <nav>
      <ul class="global-nav">
        <li><a href="/tweets/portfolio">Portfolio</a></li>
        <li><a href="/tweets/about">About</a></li>
        <li><a href="/tweets/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <!-- header終わり -->
  
  <!-- wrap始まり -->
  <div id="wrap" class="clearfix">
    <div class="content">
      <div class="main">
        <h1>Portofolio</h1>
        <p>これまでに立上げた店舗・業態・アプリを掲載しております</p>
        <section>
          <h2><a href="/tweets/photograph"><img src="/assets/portfolio-photo.jpg" alt="PHOTOGRAPH"></a></h2>
          <p>K Style Labで今まで手がけた「店舗」「商品」「アプリ」の3つのカテゴリでご紹介。<a href="/tweets/photograph">詳しくみる ≫</a></p>
        </section>
        <section>
          <h2><a href="video.html"><img src="/assets/portfolio-video.jpg" alt="VIDEO"></a></h2>
          <p>K Style Labではイベントやキャンペーン・ポップアップストアの動画を随時更新していきます。<a href="video.html">詳しくみる ≫</a></p>
        </section>
      </div>
      <aside class="sidebar">
        <section>
          <h2>Photograph</h2>
          <ul>
            <li><a href="photograph.html#city">店舗-Shop</a></li>
            <li><a href="photograph.html#beach">商品-Item</a></li>
            <li><a href="photograph.html#forest">アプリ-App</a></li>
          </ul>
        </section>
        <section>
          <h2>Video</h2>
          <ul>
            <li><a href="video.html#movie">Movie</a></li>
            <li><a href="video.html#short-film">Short film</a></li>
          </ul>
        </section>
      </aside>
    </div>
  </div>
  <!-- wrap終わり -->
  
  <!-- footer始まり -->
  <footer>
    <small>(C)2017 Hattori-studio.</small>
  </footer>
  <!-- footer終わり -->
  
</body>